<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
    <h1>Tambah Karyawan Baru</h1>

    <form method="post" th:action="@{/save}" th:object="${user}">
        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label  class="form-label">Username</label>
            <input type="text" th:field="*{username}" class="form-control" name="username">
        </div>

        <div class="mb-3">
            <label  class="form-label">Email</label>
            <input type="text" th:field="*{email}" class="form-control" name="useremail">
        </div>

        <div class="mb-3">
            <label  class="form-label">Phone</label>
            <input type="text" th:field="*{phone}" class="form-control" name="userphone">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

</body>
</html>